<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Edit Book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${booktoedit.getId()})}" th:object="${booktoedit}">

  <p><label for="book">Enter new book name</label>
    <input type="text" th:field="*{bookName}" id="book"/></p>
    <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Error</div>


  <p><label for="aut">Enter new author name</label>
    <input type="text" th:field="*{author}" id="aut"/></p>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>

  <p><label for="date">Enter new release date</label>
    <input type="text" th:field="*{releaseDate}" id="date"/></p>
    <div style="color: red" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Error</div>

  <p><input type="submit" value="Edit book"></p>
</form>

<form th:method="GET" th:action="@{/books}">
    <p>
        <input type="submit" value="Return"/>
    </p>
</form>

</body>
</html>