<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Human page</title>
</head>
<body>

<section>
<h1 th:text="${currenthuman.getName()}">name</h1>
</section>
<section>
    <h1 th:if="${books.size()}>0">Book list:</h1>
    <div th:each="b : ${books}">
        <p th:text="${b.getBookName() + ', ' + b.getAuthor() + ', ' + b.getReleaseDate()}">boname</p>
    </div>

</section>
<h1 th:if="${books.size()}==0">No books</h1>

<form th:method="GET" th:action="@{/human/{id}/edit(id=${currenthuman.getId()})}" th:object="${currenthuman}">
  <p>
    <input type="submit" value="Edit human"/>
  </p>
</form>
<form th:method="DELETE" th:action="@{/human/{id}(id=${currenthuman.getId()})}" th:object="${currenthuman}">
    <p>
        <input type="submit" value="Delete Human"/>
    </p>
</form>
<form th:method="GET" th:action="@{/human}">
    <p>
        <input type="submit" value="Return"/>
    </p>
</form>

</body>
</html>